<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Logistica.My.MySettings.DirectorioConnectionString"
            connectionString="Data Source=PRACTIDESA001;Initial Catalog=Directorio;User ID=sa;Password=admin2912"
            providerName="System.Data.SqlClient" />
        <add name="Logistica.My.MySettings.DirectorioConnectionString1"
            connectionString="Data Source=SW-SISINT;Initial Catalog=Directorio;User ID=sa;Password=editora"
            providerName="System.Data.SqlClient" />
        <add name="Logistica.My.MySettings.DirectorioNewConnectionString"
            connectionString="Data Source=sw-Desasrv;Initial Catalog=DirectorioDesa;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    
    <!-- 
    <add key="carpetaRaiz" value="e:\LOGISTICA_UNIDADES\" />
    <add key="carpetaP" value="e:\LOGISTICA_UNIDADES\CARPETA_P\" />
    <add key="carpetaQ" value="e:\LOGISTICA_UNIDADES\CARPETA_Q\" />
    <add key="carpetaR" value="e:\LOGISTICA_UNIDADES\CARPETA_R\" />
   
    -->
   <add key="carpetaP" value="\\sw-imgdig\scaneo$\" />
   <add key="carpetaQ" value="\\sw-imgdig\Calidad$\" />
   <add key="carpetaR" value="\\sw-imgdig\Final$\" />
   <add key="carpetaPeruano" value="\\sw-imgdig\Calidad$\Diario Oficial El Peruano\"/>


    <add key="carpetaRaiz" value="\\sw-imgdig\d$\" />
    <add key="carpetaPV" value="P:\"/>
    <add key="carpetaPeruanoV" value="Q:\Diario Oficial El Peruano\"/>
    <add key="carpetaRV" value="R:\"/>
    <add key="Prueba" value="E:\"/>
    
    <add key="OnBaseDataSourceName" value="OBSERVER"/>
    <add key="OnBaseUserName" value="MANAGER"/>
    <add key="OnBasePassword" value="sdqIgCuNg5w="/>
  
    <!--
    <add key="OnBaseArchivoLogistica" value="D:\LOGISTICA\Archivos\archivoLogistica.txt"/>
    -->
    
  </appSettings>  
    <system.diagnostics>
      <sources>
        <!-- En esta sección se define la configuración del registro para My.Application.Log -->
        <source name="DefaultSource" switchName="DefaultSwitch">
          <listeners>
            <add name="FileLog"/>
            <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog"/>-->
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="DefaultSwitch" value="Information" />
      </switches>
      <sharedListeners>
        <add name="FileLog"
             type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
             initializeData="FileLogWriter"/>
        <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
        <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
      </sharedListeners>
    </system.diagnostics>
          
</configuration>
